/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap'); */

:root {
    --mainColor : #7C83FD ;
    --white : #FFFFFF;
    --darkGrey : #C8C6C6;
    --grey : #F3F1F5;
    --lightBlack : #686D76;
}
body {
    background-color: var(--mainColor);
    font-family: 'Roboto', sans-serif ; 
}
html,body {
    height: 100%;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.titleContainer {
    color: var(--white);
    margin-left: 120px;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    transition-timing-function: ease-in;
    transition: all 2s ease-in;
    width: 50%;
}

.card {
    width: 50%;
    height: 80vh;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    margin-top: 70px;
   
}

.card p {
    font-size: 17px;
    margin-top: 30px;
    align-self: center;
    color: var(--lightBlack);
}

.card p span {
   color: var(--mainColor);
   font-weight: bold;
   text-decoration: none;
}

.title {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 35px ;
    margin-top: 60px;
    margin-left: 35px;
}

.titleContainer:first-child {
    font-size: 45px;
    font-weight: bold;
}

.titleContainer p {
    padding-top: 20px;
    font-size: 30px;
    width: 70%;
}

.line {
    width: 350px;
    height: 47px;
    margin-top: 30px;
    border-bottom: 4px solid var(--white);
    position: absolute;   
}

form {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
} 

.input {
    margin-top: 50px;
    border: none;
    width:205%;
    border-radius: 47px;
    height: 50px;
    opacity: 0.6;
    font-size: 15px;
    background-color: #DDDDDD;
    box-shadow: 2px 2px 2px grey;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
    outline: none;
     padding-left: 20px;
    
}
.input::placeholder {
    color: black;
    font-style: italic;
    padding-left: 20px;
    opacity: 0.8;
}

.submitButton{
    margin-top: 25%;
    width:90%;
    height: 45px;
    background-color: var(--mainColor);
    border-radius: 47px;
    border:none;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    box-shadow: 1px 5px 6px #DDDDDD;
}

.line2{
    width: 50%;
    margin-top: 30px;
    height: 20px;
   align-self: center;
    border-bottom: 2px solid var(--darkGrey);
 
}

.error {
    color: #FF2626;
    font-size: 13px;
    padding-top: 10px;
    font-weight: medium;
}


